<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnific Memory 😍 - Accueil</title>
    <link rel="shortcut icon" href="./assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="./assets/css/header.css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="/" class="logo">
                    <img src="./assets/img/logo.png" alt="Logo MagnificMemory">
                    <span>MagnificMemory</span>
                </a>
                <div class="nav-links">
                    <a href="/" class="nav-button">Accueil</a>
                    <a href="/game.html" class="nav-button">Jouer</a>
                    <a href="/profile.html" class="nav-button">Profil</a>
                    <a href="/register.html" class="nav-button">S'inscrire</a>
                    <a href="/login.html" class="nav-button">Se connecter</a>
                    <button class="logout-button nav-button">Se déconnecter</button>
                    <span id="username" class="username hidden"></span>
                </div>
            </nav>
            <div class="header-content">
                <h1>Votre jeu de Memory inoubliable !</h1>
            </div>
        </div>
    </header>

    <section class="rules">
        <div class="container">
            <h2>Règles du jeu Memory</h2>
            <div class="rules-content">
                <div class="rules-text">
                    <ol>
                        <li>Toutes les cartes sont mélangées et placées face cachée sur la grille de jeu.</li>
                        <li>À chaque tour, le joueur retourne deux cartes de son choix.</li>
                        <li>Si les deux cartes sont identiques, le joueur les garde.</li>
                        <li>Si les cartes sont différentes, les cartes retournées sont remises face cachée.</li>
                        <li>Le jeu continue jusqu'à ce que toutes les paires aient été trouvées.</li>
                    </ol>
                    <p class="rules-footer">Amusez-vous bien et que le meilleur gagne !</p>
                </div>
                <div class="rules-image">
                    <img src="./assets/img/jeu.png" alt="Prévisualisation du jeu Memory">
                </div>
            </div>
            <div class="cta">
                <a href="/game.html" class="cta-button">Jouer maintenant</a>
            </div>
        </div>
    </section>

    <script src="./assets/js/home.js"></script>
</body>

</html>
