<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnific Memory 😍 - Connexion</title>
    <link rel="shortcut icon" href="./assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="stylesheet" href="./assets/css/header.css">

</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="/" class="logo">
                    <img src="./assets/img/logo.png" alt="Logo MagnificMemory">
                    <span>MagnificMemory</span>
                </a>
                <div class="nav-links">
                    <a href="/" class="nav-button">Accueil</a>
                    <a href="/game.html" class="nav-button">Jouer</a>
                    <a href="/profile.html" class="nav-button">Profil</a>
                    <a href="/register.html" class="nav-button">S'inscrire</a>
                    <a href="/login.html" class="nav-button">Se connecter</a>
                </div>
            </nav>
            <div class="header-content">
                <h1>Votre jeu de Memory inoubliable !</h1>
            </div>
        </div>
    </header>
    <div class="container login-section">
        <form>
            <h1 class="form-title">Connexion à MagnificMemory</h1>
            <div class="input-container">
                <label for="email">Votre adresse email : </label>
                <input id="email" type="email" placeholder="toto@exemple.com" autocomplete="off">
            </div>
            <div class="input-container">
                <label for="password">Votre mot de passe :</label>
                <input id="password" type="password" placeholder="Mot de passe">
            </div>
            <button class="submit-button">Je me connecte</button>
            <span class="register-link">Pas de compte ? <a href="register.html">Je m'inscris</a></span>

            <p class="user-not-found">L'utilisateur n'a pas été trouvé</p>
        </form>
    </div>

    <script type="module" src="./assets/js/login.js"></script>
</body>

</html>
